* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

@import 'blocks/discount';
@import 'blocks/header';
@import 'blocks/rubber';
@import 'blocks/dumbbells';
@import 'blocks/workouts';
@import 'blocks/products';
@import 'blocks/email';
@import 'blocks/footer';
@import 'blocks/media';