.email {
    width: 1440px;
    height: 438px;
    padding: 80px 0 0 155px;
    &__left {
        width: 50%;
        float: left;
    }
    &__right {
        width: 50%;
        float: right;
        display: flex;
        padding-left: 80px;
    }
    &__header {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.165em;
        text-transform: uppercase;
        &_second {
            margin-left: 150px;
        }
    }
    &__input {
        margin-top: 30px;
        width: 460px;
        border: none;
        border-bottom: 1px solid #C4C4C4;
        padding: 16px 0;
        &::placeholder {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 141.8%;
            color: #000;
            opacity: 0.4;
          }
    }
    &__button {
        border: none;
        cursor: pointer;
    }
    &__links {
        margin-top: 26px;
        width: 80px;
        height: 16px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        text-decoration: none;
        color: #7E7E7E;
    }
    &__list {
        margin-top: 32px;
        list-style-type: none;
        &_second {
            margin-left: 150px;
        }
    }
    &__item {
        margin-top: 12px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 167.5%;
        color: #7E7E7E;
    }
    &__year {
        text-align: center;
        width: 100%;
    }
}