.products {
    height: 742px;
    &__container {
        margin: 80px auto;
        width: 1360px;
        height: 582px;
    }
    &__header {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #000000;
    }
    &__wrapper {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }
    &__cart {
        width: 328px;
        height: 504px;
        display: flex;
        flex-direction: column;
    }
    &__shipping {
        background: url("../images/products/product image 3.png");
        width: 328px;
        height: 410px;
        &_second {
            background: url("../images/products/product image 2.png");
        }
        &_third {
            background: url("../images/products/product image 1.png");
        }
        &_forth {
            background: url("../images/products/product_image.png");
        }
    }
    &__title {
        width: 90px;
        height: 28px;
        margin: 12px 0 0 15px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 167.5%;
        background: #fff;
    }
    &__name {
        margin-top: 8px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 168%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }
    &__raiting {
        margin-top: 8px;
        width: 96px;
        display: flex;
        justify-content: space-between;
    }
    &__price {
        margin-top: 8px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 168%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: #353535;
    }
}