@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dm8wx6');
  src:  url('../fonts/icomoon.eot?dm8wx6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dm8wx6') format('truetype'),
    url('../fonts/icomoon.woff?dm8wx6') format('woff'),
    url('../fonts/icomoon.svg?dm8wx6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-1:before {
  content: "\e900";
}
.icon-arrow_forward_24px:before {
  content: "\e901";
}
.icon-Facebook:before {
  content: "\e902";
  color: #8f8f8f;
}
.icon-Instagram:before {
  content: "\e903";
  color: #8f8f8f;
}
.icon-mail:before {
  content: "\e904";
  color: #8f8f8f;
}
.icon-slash:before {
  content: "\e908";
  color: #c2a578;
}
.icon-Star-1:before {
  content: "\e909";
  color: #c2a578;
}
.icon-primaryno-text:before {
  content: "\e90a";
}
